body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
}

.login-form{
    
}

#input-username {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 306px;
    border-bottom: 2px solid black;
    outline: none;
}

#input-submit{
    display: none;
}

.clock{
    
}

.hidden{
    display: none;
}