body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: auto;
  position: relative;
  background-size: cover;
  margin: 0 0;
  color: white;
}

input {
  color: white;
}
body img {
  position: absolute;
  z-index: -2;
  width: auto;
  height: 100vh;
}

.login-form {
}

#greeting {
}

#input-username {
  width: 306px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  outline: none;
  background: transparent;
}

<<<<<<< HEAD
#input-submit {
  display: none;
}

.clock {
=======
#input-username {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 306px;
    border-bottom: 2px solid black;
    outline: none;
}

#input-submit{
    display: none;
}

.clock{
    
>>>>>>> 2e427c799ed60ac38069b3ee87a9b1379967184b
}

#todo-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  outline: none;
  background: transparent;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 500px;
}

.hidden {
  display: none;
}

#weather {
  color: white;
}
